@use "../foundation/variables" as v;

/* ==========================
共通セクション
========================== */
.section {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

/* ==========================
おみくじヒーロー
========================== */
.omikuji-hero {
  @extend .section;
  gap: 32px;
}

/* ==========================
スマートフォン用
========================== */
@media screen and (max-width: 767px) {
  .section {
    gap: 28px;
  }

  .omikuji-hero {
    gap: 24px;
  }
}
